<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing Silicos-it nodes"
            icon="nl/esciencecenter/e3dchem/knime/silicosit/default.png"
            level-id="silicos-it"
            name="Silicos-it"
            path="/community/3d-e-chem"/>
   </extension>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/3d-e-chem/silicos-it" factory-class="nl.esciencecenter.e3dchem.knime.silicosit.PharmacophoreReaderFactory" id="nl.esciencecenter.e3dchem.knime.silicosit.PharmacophoreReaderFactory"/>
    </extension>
    <extension
          point="org.knime.workbench.repository.metanode">
       <PersistedMetaNode
             category-path="/community/3d-e-chem/silicos-it"
             expert-flag="false"
             icon="nl/esciencecenter/e3dchem/knime/silicosit/strip-it.png"
             id="strip-it"
             name="strip-it"
             workflowDir="src/knime/strip-it/">
       </PersistedMetaNode>
    </extension>

</plugin>
